appnope
backcall
bleach
chardet
cycler
decorator
entrypoints
html5lib
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kiwisolver
line-profiler
lxml
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
pandas
pandocfilters
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
pyzmq
qtconsole
Send2Trash
simplegeneric
six
terminado
testpath
tornado
traitlets
wcwidth
webencodings
widgetsnbextension
xlrd
